{% extends 'admin_dashboard/base_admin.html' %}
{% block content %}
<div class="container-fluid">
  <h4>Payments</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead><tr><th>ID</th><th>Order</th><th>User</th><th>Amount</th><th>Status</th></tr></thead>
      <tbody>
        {% for p in payments %}
          <tr>
            <td>{{ p.id }}</td>
            <td>#{{ p.order.id }}</td>
            <td>{{ p.user }}</td>
            <td>Rs {{ p.amount|floatformat:2 }}</td>
            <td>{{ p.status }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="5">No payments</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
