 /* GENERAL RESET */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            background:url('/media/product/bg.jpg') no-repeat center center/cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
/* LOGIN BOX */
        .login-box {
            margin: auto;
            width: 350px;
            background: #fff;
            padding: 2rem;
            border-radius: 6px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);
            animation: fadeInUp 1s ease forwards;
        }

        .login-box form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .login-box input {
            padding: 0.9rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: all 0.3s;
        }

        .login-box input:focus {
            border-color: red;
            box-shadow: 0 0 6px rgba(255,0,0,0.2);
        }

        .login-box button {
            padding: 0.9rem;
            background: black;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s;
        }

        .login-box button:hover {
            background: red;
            transform: scale(1.02);
        }

        .login-box p {
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            margin-top: 0.3rem;
        }

        .login-box p a {
            text-decoration: none;
            color: #000;
            transition: 0.3s;
        }

        .login-box p a:last-child {
            color: red;
            font-weight: 500;
        }

        .login-box p a:hover {
            text-decoration: underline;
        }

        /* ANIMATION */
        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(40px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* RESPONSIVE */
        @media (max-width: 500px) {
            .login-box {
                width: 85%;
            }

            nav {
                gap: 1rem;
            }
        }